<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="background-div">
        <div class="main">
            <div class="description" id="intro">
                <h1>
                    2 oyda Task 1 & Task 2 
                    <span>Advanced</span> darajada yozishni 
                     o'rganing!
                </h1>
                <p>
                    ✍️ 2 oy o'z ustingizda ishlang va  
                    <br>
                    <span>Writing 7+</span> oling!
                </p>
                <button>
                    ✍️ Writing 7+ olish
                </button>
                <img src="https://42.uz/home/hey.svg" class="corner-image" alt="Corner Image">
            </div>


            <div class="offers" id="rek">
                <h1>
                    Sizni nimalar kutmoqda?
                </h1>
                <p>
                    IELTS Writing'ni interaktiv va creative o'rganish muhiti orqali professionallardan 
                    <br>
                    2 oy ichida Writing darajangizni oshiring!
                </p>

                <img src="https://42.uz/home/look_down.svg" class="offers-corner-image" alt="offers-corner-image">
                
                <!-- First row of icons -->
                <div class="icon-row">
                    <div class="icon-container">
                        <img src="https://42.uz/home/features/interactive.svg" alt="Icon 1">
                        <div>
                            <h2>
                                Interaktiv darslar
                            </h2>
                            <h3>
                                O'zingizga qulay vaqtda Writing'ni oshiring
                            </h3>
                        </div>
                    </div>
                    <div class="icon-container">
                        <img src="https://42.uz/home/features/books.svg" alt="Icon 2">
                        <div>
                            <h2>
                                Yuqori sifatdagi darslar
                            </h2>
                            <h3>
                                Qiziqarli darslarni 2 oy mobaynida o'rganing
                            </h3>
                        </div>
                    </div>
                    <div class="icon-container">
                        <img src="https://cdn-icons-png.flaticon.com/128/10620/10620733.png" alt="Icon 3">
                        <div>
                            <h2>
                                Kross o'rganish imkoniyati
                            </h2>
                            <h3>
                                2 oy ichida 3 turdagi <span>Xalqaro va Milliy</span> imtihonga tayyorlaning
                            </h3>
                        </div>
                    </div>
                </div>
                
                <!-- Second row of icons -->
                <div class="icon-row">
                    <div class="icon-container">
                        <img src="https://42.uz/home/features/backend.svg" alt="Icon 4">
                        <div>
                            <h2>
                                Task 1 Asoslari
                            </h2>
                            <h3>
                                Line Graph dan to Map gacha barchasi
                            </h3>
                        </div>
                    </div>
                    <div class="icon-container">
                        <img src="https://42.uz/home/features/frontend.svg" alt="Icon 5">
                        <div>
                            <h2>
                                Task 2 Asoslari
                            </h2>
                            <h3>
                                Discussion dan Double Question gacha barchasi
                            </h3>
                        </div>
                    </div>
                    <div class="icon-container">
                        <img src="https://42.uz/home/features/mobile.svg" alt="Icon 6">
                        <div>
                            <h2>
                                Academic & Creative Writing
                            </h2>
                            <h3>
                                Grammar, Vocabulary, va Letters
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="additional-content">
                    <div class="additional-content-inner">
                        <p>
                            1 oy Theory/Grammar/Vocab va 1 oy kengroq Practice'dan so'ng <span>imtihonga eshikni tepib kirasiz!</span>
                        </p>
                        <button>
                            ✍️ Writing 7+ olish
                        </button>
                    </div>
                </div>
            </div>

    
            <div class="enrollment-encouragement">
                <div class="enrollment-content">
                    <h1>Shu kunga qadar</h1>
                    <p>Bizning maqsadimiz - o'quvchilarda nafaqat IELTS va shunga o'xshash imtihonlardan yaxshi natijaga olib borish, balki umumiy Academic & Creative Writing ni oshirishdir.</p>
                </div>
                <div class="icon-row">
                    <div class="e-icon-container">
                        <div>
                            <h3>
                                O'rtacha jamoaviy tajriba
                            </h3>
                            <h2>
                                +2 yil
                            </h2>
                        </div>
                    </div>
                    <div class="e-icon-container">
                        <div>
                            <h3>
                                Umumiy o'quvchilar soni
                            </h3>
                            <h2>
                                +300
                            </h2>
                        </div>
                    </div>
                    <div class="e-icon-container">
                        <div>
                            <h3>
                                Yozilgan darslar soni
                            </h3>
                            <h2>
                                +100
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
                     


            <div class="results" id="team">
                <div class="enrollment-content">
                    <h1>Jamoa</h1>
                    <p>Ko'p yillik tajribaga ega mutaxassislar bilan birga Writing'ni oshiring</p>
                </div>
                <div class="icon-row">
                    <div class="r-icon-container">
                        <img src="https://camblyavatars.s3.amazonaws.com/608c279d1a44bcd298a5ed2c" alt="Icon 5">
                        <div>
                            <h2>
                                Liz IELTS
                            </h2>
                            <h3>
                                5+ years of teaching, IELTS 9,<br> Writing 9, 1000+ students
                            </h3>
                            <img class="secondary-image" src="https://yt3.ggpht.com/9YnBM_5G9Vlik9KABy-NFFKTptx4bje4vRtSehlm1jpeY8vcQSYlmUjFkxowVxARZo4LlCJ44A=s600-c-k-c0x00ffffff-no-rj-rp-mo" alt="Additional Image">
                        </div>
                    </div>
                    <div class="r-icon-container">
                        <div>
                        <img src="https://yt3.googleusercontent.com/RouByKdpHJWjEjSQY_YyeNSP_ufyLphkYooSc_-kVK5FzC3lN_UiABv8906WXtq0_-ejTnv6=s176-c-k-c0x00ffffff-no-rj" alt="Ibvvjvjvhvhvhhvhh">
                            <h2>
                                Mr. Otabek
                            </h2>
                            <h3>
                                47+ years of teaching, IELTS 9,<br> Writing 9, 1000+ students
                            </h3>
                            
                        </div>
                        <img class="secondary-image" src="https://yt3.ggpht.com/9YnBM_5G9Vlik9KABy-NFFKTptx4bje4vRtSehlm1jpeY8vcQSYlmUjFkxowVxARZo4LlCJ44A=s600-c-k-c0x00ffffff-no-rj-rp-mo" alt="Additional Image">
                    </div>
                    <div class="r-icon-container">
                        <div>
                        <img src="https://pbs.twimg.com/profile_images/1370166659541962754/Ce2MApZf_400x400.jpg" alt="Icon 5">
                            <h2>
                                Lingua Marina
                            </h2>
                            <h3>
                                5+ years of teaching, IELTS 9,<br> Writing 9, 1000+ students
                            </h3>
                            <img class="secondary-image" src="https://yt3.ggpht.com/9YnBM_5G9Vlik9KABy-NFFKTptx4bje4vRtSehlm1jpeY8vcQSYlmUjFkxowVxARZo4LlCJ44A=s600-c-k-c0x00ffffff-no-rj-rp-mo" alt="Additional Image">
                        </div>
                    </div>
                </div>
            </div>



            <div class="students" id="students">
                <div class="enrollment-content">
                    <h1>Bizning O'quvchilar</h1>
                    <p>O'quvchilarimiz nima deydi va ularning natijalari bilan tanishing.</p>
                </div>
                <div class="s-icon-container">
                    <img src="https://42.uz/home/heads.svg" alt="Icon 1">
                </div>
            </div>
            

            <div class="short-enrollment-encouragement">
                <h1>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates cupiditate eum eveniet ullam nisi illum?
                </h1>
                <p>
                    lezzzgooooooooooò
                </p>
            </div>
        </div>
    </div>
    <footer>

    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const words = ['task1', 'task2'];
            let currentWordIndex = 0;

            setInterval(function() {
                const changingText = document.getElementById('changing-text');
                changingText.textContent = words[currentWordIndex];
                currentWordIndex = (currentWordIndex + 1) % words.length;
            }, 3000);
        });
    </script>
</body>
</html>
